networks:
  web:
    name: web
    driver: overlay
    attachable: true
  intercom:
    name: intercom
    driver: overlay
    attachable: true

volumes:
  order_pg_vol:
  minio_vol:

secrets:
  postgres_user:
    file: docker/postgres_user_secret
  postgres_password:
    file: docker/postgres_password_secret
  s3_user:
    file: docker/s3_user_secret
  s3_password:
    file: docker/s3_password_secret

services:
  traefik:
    image: traefik:v3.6.1
    command:
      - --api.dashboard=true
      - --api.insecure=false
      - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --providers.swarm.exposedbydefault=false
      - --providers.swarm.network=web
      - --entrypoints.web.address=:80
      - --log.level=INFO
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Traefik reads Swarm API
    networks:
      - web
    deploy:
      # Replicate only to manager
      # expose dashboard to dashboard.localhost
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`dashboard.localhost`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"


  frontend:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/frontend:1.0
    networks:
      - web
    deploy:
      # todo deploy globally
      mode: global
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.frontend.rule=Host(`localhost`)"
        - "traefik.http.services.frontend.loadbalancer.server.port=80"
      # should be available at http://localhost from every node


  orderservice:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/orderservice:1.0
    command: [ "/app/ordersystem" ]
    depends_on:
      - postgres
      - minio
    secrets:
      # use secrets
      - source: postgres_user
      - source: postgres_password
      - source: s3_user
      - source: s3_password
    environment:
      - POSTGRES_DB=order
      - PGPORT=5555
      - DB_HOST=postgres
      - S3_ENDPOINT=minio:8500
      # use secrets
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - S3_ACCESS_KEY_ID_FILE=/run/secrets/s3_user
      - S3_SECRET_ACCESS_KEY_FILE=/run/secrets/s3_password
    networks:
      - web
      - intercom
    deploy:
      # deploy global
      mode: global
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.orders.rule=Host(`orders.localhost`)"
        - "traefik.http.services.orders.loadbalancer.server.port=3000"
      # Should be reachable at http://orders.localhost
      # always restart container on failure
      restart_policy:
        condition: any
        delay: 5s
        window: 120s

  postgres:
    image: postgres:18
    volumes:
      - order_pg_vol:/var/lib/postgresql
    networks:
      - intercom
    secrets:
      # use secrets
      - source: postgres_user
      - source: postgres_password
    environment:
      - POSTGRES_DB=order
      - PGPORT=5555
      # use secrets
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    deploy:
      # replicate only to one worker node
      # use constraints
      replicas: 1
      placement:
        constraints:
          - node.role == manager # because everything else failed, running swarm only locally and postgres on manager
          #- node.id == 01p8cm44fcwmcioorblxs5z1g # id of worker node -> did not work, problem with communication; pinging works, but not reaching the db from another node


  minio:
    image: minio/minio:latest
    command: [ "server", "--address", ":8500", "/data" ]
    volumes:
      - minio_vol:/data
    secrets:
      # use secrets
      - source: s3_user
      - source: s3_password
    environment:
      # use secrets
      - MINIO_ROOT_USER_FILE=/run/secrets/s3_user
      - MINIO_ROOT_PASSWORD_FILE=/run/secrets/s3_password
    networks:
      - intercom
    deploy:
      # replicate only to one worker node
      # use constraints
      replicas: 1
      placement:
        constraints:
          - node.role == manager # because everything else failed, running swarm only locally and postgres on manager
          #- node.id == 01p8cm44fcwmcioorblxs5z1g # id of other worker node -> did not work, problem with communication; pinging works, but not reaching the minio from another node